* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: rgb(184,189,201);
  background: linear-gradient(0deg, rgba(184,189,201,1) 12%, rgba(82,83,93,1) 60%, rgba(42,44,53,1) 86%); 
}


.card {
  padding: 2em;
}

header{
  background-color: #666666;
  color: white;
  margin: 0 auto;
  padding: 2rem;
}

.cards{
  border: black 2px solid;
  width: 5rem;
  height: 25rem;
  object-fit: fill;
}

.filter{
  background-color: #959595;
  color: white;
  display: flex;
  margin: 0 auto;
  padding: 4rem;
  flex-direction: column;
  gap: 2rem;
}

.epic{
  border: none;
  height: 15rem;
  width: 15rem;
}

.gamegallery {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  width: 50%;
}


